# MinIO (S3-compatible data lake storage)
MINIO_ROOT_USER=changeme_admin
MINIO_ROOT_PASSWORD=changeme_password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Spark
SPARK_MASTER_UI_PORT=8080
SPARK_MASTER_PORT=7077
SPARK_WORKER_CORES=2
SPARK_WORKER_MEMORY=2G

# PostgreSQL (Gold data warehouse)
POSTGRES_USER=changeme_admin
POSTGRES_PASSWORD=changeme_password
POSTGRES_DB=gold_warehouse
POSTGRES_PORT=5433  # 5432 est souvent déjà pris par une install Postgres native sur l'hôte

# Monitoring
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=changeme_password
NODE_EXPORTER_PORT=9100

# External source - Yelp Open Dataset (Bronze ingestion)
YELP_JSON_URL=https://business.yelp.com/external-assets/files/Yelp-JSON.zip
YELP_PHOTOS_URL=https://business.yelp.com/external-assets/files/Yelp-Photos.zip

# External source - Open-Meteo API (historique météo par ville)
WEATHER_START_DATE=2009-01-01
WEATHER_END_DATE=2022-12-31
